{%- import "macros.html" as macros %}
{%- import "bootstrap/utils.html" as utils %}
<!doctype html>
<html lang="{{ get_locale() }}" data-static="/static/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% trans %}Admin page for{% endtrans %} {{ config["SITENAME"] }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Calapan City LGU | Official Mail Client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <style>
      .login-centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        padding: 20px;
      }
      .login-logo-img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
      }
      .login-box {
        width: 100%;
        max-width: 400px;
      }
      .login-box .card {
        border-radius: 8px;
      }
    </style>
  </head>
  <body class="hold-transition">
    <div class="login-centered">
      <img src="{{ config["LOGO_URL"] if config["LOGO_URL"] else '/static/mailu.png' }}" alt="{{ config["SITENAME"] }}" class="login-logo-img">
      <h4 class="mb-4">Welcome to Calapan City Mail Client App</h4>
      <div class="login-box">
        {{ utils.flashed_messages(container=False, default_category='success') }}
        {%- block content %}{%- endblock %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
