<div class="sidebar text-sm">
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
    {#-
      Domain self-registration is only available when
       - Admin is available
       - Domain Self-registration is enabled
       - The current user is not logged on
    #}
    {%- if config['DOMAIN_REGISTRATION'] and not current_user.is_authenticated and config['ADMIN'] %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('ui.domain_signup') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa fa-plus-square"></i>
          <p class="text">{% trans %}Register a domain{% endtrans %}</p>
        </a>
      </li>
    {%- endif %}
    {#-
      User self-registration is only available when
       - Admin is available
       - Self-registration is enabled
       - The current user is not logged on
    #}
    {%- if not current_user.is_authenticated and signup_domains and config['ADMIN'] %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('ui.user_signup') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa fa-user-plus"></i>
          <p class="text">{% trans %}Sign up{% endtrans %}</p>
        </a>
      </li>
    {%- endif %}
    </ul>
  </nav>
</div>
